$color_black: #000;
$color_white: #FFF;

$color_grey: #474747;
$color_blue: #054985;
$color_cyan: #C4DCFF;
$color_light_grey: #8C8D91;

$color_assemblyList_bg: $color_blue;
$color_assemblyList_bg_selected: $color_light_grey;
$color_assemblyList_fg: $color_white;
$color_codeView_bg: $color_light_grey;
$color_codeView_fg: $color_black;
$color_assemblyListEntry_loading: $color_light_grey;