@import '_colors.scss';

.f-assemblyList {
    overflow: auto;
    white-space: nowrap;
    background-color: $color_assemblyList_bg;
    color: $color_assemblyList_fg;
    
    a {
        color: $color_assemblyList_fg;
        text-decoration: none;
        
        &:visited {
            color: $color_assemblyList_fg
        }
    }
}

.c-assemblyListEntry-loading {
    color: $color_assemblyListEntry_loading;
}

.f-codeView {
    background-color: $color_codeView_bg;
    color: $color_codeView_fg;
}

ul.l-tree {
    list-style-type: none;
    padding-left: 1em;
}
    
li.l-treeNode
{
    cursor: pointer;
    
    &.l-treeNode-selected > .l-treeNode-header {
        background-color: $color_assemblyList_bg_selected
    }

    .glyphicon {
        padding-right: 0.30em;
    }
    
    .l-treeNode-text {
        white-space: pre;
    }
}

pre.c-codeView {
    margin: 0;
    border-radius: 0;
    height: 100%;
}